@model NRProject.Web.ViewModels.Jobs.PostByIdViewModel;
@using Microsoft.AspNetCore.Identity
@using NRProject.Data.Models
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["Title"] = Model.Title;
}

@{
    var user = await this.UserManager.GetUserAsync(this.User);
}
<h1>@Model.Title<span class="badge badge-secondary">@Model.JobCategory.Name</span></h1>
<div class="alert alert-success" role="alert">
    This job was created by <h3 class="alert-link">@Model.UserUsername</h3> on @Model.CreatedOn
</div>
<p class="lead">
    @Model.Content
</p>
@if((int)user.WorkerOrHirer==1){
<div>
    <form asp-controller="JobOffers" asp-action="CreateJobOffer" method="post" id="AddCommentForm">
        <input type="hidden" name="JobPostsId" value="@this.Model.Id" />
        <div>
            <label for="Content"></label>
            <textarea name="Description" id="Description" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Add comment" />
        </div>
    </form>
</div>
}
@foreach (var item in Model.jobOffers)
{
    <br />
    <div class="card">
        <div class="card-header">
            Job Offer
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@item.Description</p>
                <footer class="blockquote-footer">Offered by <cite title="Source Title">@item.UserUsername</cite></footer>
            </blockquote>
        </div>
    </div>
}