@model NRProject.Web.ViewModels.Jobs.PostByIdViewModel;
@{
    this.ViewData["Title"] = Model.Title;
}

<h1>@Model.Title<span class="badge badge-secondary">@Model.JobCategory.Name</span></h1>
<div class="alert alert-success" role="alert">
    This job was created by <h3 class="alert-link">@Model.UserUsername</h3> on @Model.CreatedOn
</div>
<p class="lead">
    @Model.Content
</p>
@*<form method="post" asp-action="CreateJobOffer" asp-controller="JobOffers">
    <div class="form-group">
        <label for="">Content</label>
        <textarea  class="form-control" id="Description" rows="3"></textarea>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>*@
@*@await Html.PartialAsync("_FormJobOffersPartial")*@
